.container {
  min-height: 1080px;
  display: grid;
  grid-template-columns: 1fr minmax(800px, 5fr) 3fr;
}
.blackbox {
  width: 188px;
  aspect-ratio: 0.92;
}
.avatar {
  width: 184px;
  aspect-ratio: 0.75;
  margin-top: 10%;
}
.centerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 19%;
  height: 80%;
}
.intro{
  font-weight: 700;
  font-size: 20px;
}
.introContainer{
  color: #2E2E2E;
  margin-left: 7%;
}
@media (min-width: 1040px) {
  .blackbox {
    width: 237px;
    aspect-ratio: 0.92;
  }
  .avatar {
    width: 517px;
    aspect-ratio: 0.75;
    margin-top: 13%;
  }
  .centerContainer{
    margin-top: 22%;
    height: 80%;
  }
}
