.background {
  background-image: url('../../../../../public/background.png');
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.verticalText{
  font-size: 46px;
  font-weight: 500;
  writing-mode: vertical-lr;
  transform: scale(-1);
}
.content::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.content::-webkit-scrollbar
{
	width: 4px;
	background-color: #F5F5F5;
}

.content::-webkit-scrollbar-thumb
{
	background-color: #000000;
	border: 1px solid #555555;
  border-radius: 2px;
}
@media ((min-height: 1000px)) {
  .verticalText{
    font-size: 76px;
  }
}