.container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(7, 14vw);
  grid-template-rows: repeat(1, 100vh);
}
.featured {
  font-size: 138px;
  font-weight: 100;
  line-height: 138px;
  color: #2e2e2e;
  text-transform: uppercase;
  writing-mode: vertical-lr;
  transform: scale(-1);
  opacity: 10%;
}
.featuredContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 1/2;
  height: 100%;
}
.header {
    font-size: 92px;
    font-weight: 400;
    text-align: center;
  }
@media (min-width: 1840px) {
  .featured {
    font-size: 193px;
    font-weight: 100;
    line-height: 138px;
    color: #2e2e2e;
    opacity: 1;
  }
  .featuredContainer {
    height: 100%;
  }
  .header {
    font-size: 128px;
    font-weight: 400;
  }
}
