.container {
  width: 100vw;
  height: 100vh;
}
.FfloatElement {
  background-color: #ffffff;
  grid-column: 5/10;
  grid-row: 4/7;
  margin-left: 10%;
}
.FfloatElement .floatText {
  font-size: 15px;
  line-height: 18px;
  padding-top: 6%;
  padding-left: 6%;
  max-width: 80%;
  text-align: justify;
}
.floatElement {
  background-color: #ffffff;
  grid-column: 6/10;
  grid-row: 4/7;
  margin-left: 10%;
}
.floatElement .floatText {
  font-size: 15px;
  line-height: 18px;
  padding-top: 6%;
  padding-left: 6%;
  max-width: 60%;
  text-align: justify;
}
.floatImage {
  height: 95%;
  aspect-ratio: 2;
  grid-column: 1/7;
  grid-row: 1/7;
}
@media (min-width: 1720px) {
  .floatElement {
    background-color: #ffffff;
    grid-column: 7/10;
    grid-row: 4/7;
  }
  .floatElement .floatText {
    font-size: 18px;
    line-height: 24px;
    padding-top: 10%;
    padding-left: 11%;
    max-width: 77%;
  }
  .floatImage {
    height: 99%;
    aspect-ratio: 1.75;
    grid-row: 1/7;
  }
  .FfloatElement {
    background-color: #ffffff;
    grid-column: 5/10;
    grid-row: 5/7;
    margin-left: 10%;
  }
  .FfloatElement .floatText {
    font-size: 15px;
    line-height: 18px;
    padding-top: 6%;
    padding-left: 6%;
    max-width: 80%;
    text-align: justify;
  }
}
